<!DOCTYPE html>

<html>

<head>

<title>
Departmental Store
</title>

<link

rel="stylesheet"

href="{{ url_for('static', filename='style.css') }}"

>

</head>

<body>

<nav>

<h2>

Departmental Store Billing System

</h2>


<a href="/">

Products

</a>


{% if session.get("user_id") %}


<a href="/cart">

Cart

</a>


<a href="/dashboard">

Dashboard

</a>


<a href="/logout">

Logout

</a>


{% else %}


<a href="/login">

Login

</a>


<a href="/register">

Register

</a>


{% endif %}

</nav>
<div class="container">

{% block content %}

{% endblock %}

</div>

</body>

</html>