body {

font-family: Arial;

background: #f2f4f8;

margin: 0;

}


nav {

background: #1f2937;

color: white;

padding: 20px;

}


nav a {

color: white;

margin: 15px;

text-decoration: none;

}


.container {

width: 80%;

margin: auto;

padding: 30px;

}


table {

width: 100%;

border-collapse: collapse;

background: white;

}


th {

background: #2563eb;

color: white;

}


th,

td {

padding: 12px;

border: 1px solid gray;

text-align: center;

}


input {

padding: 10px;

margin: 5px;

}


button {

background: #16a34a;

color: white;

padding: 10px 20px;

border: none;

cursor: pointer;

}


.bill {

background: white;

padding: 30px;

width: 500px;

margin: auto;

box-shadow:

0 0 10px gray;

}